*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: var(--white-color);
    background:var(--back-color);
}
#nav_bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px
    
}
#nav_bar {
    margin-left: -1%;
}.lang {
    width: 100%;
    text-align: center;
    margin-top: 30px
}

.lang a {
    display: block;
    margin-top: 5px;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-weight: 300;
    color: #a1a1a1
}

.lang a:hover,
.lang a.active {
    color: #007ce9;
}

.logo {
    display: block;
    padding: 8px 0
}

.logo img {
    display: block;
    margin: 8px auto;
    width: 24px;
    height: auto
}

.logo img.sub-logo {
    width: 50px;
}

#nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%
}

#nav_bar nav a {
    font-size: 22px;
    color: #4d4d4e;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none
}

#nav_bar nav a i {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#nav_bar nav a:hover i {
    opacity: 0
}

#nav_bar nav a.active,
#nav_bar nav a:hover {
    color: #007ce9;
}

#nav_bar nav a:after {
    content: '';
    font-size: 9px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#nav_bar nav a:first-child:after {
    content: 'HOME'
}

#nav_bar nav a:first-child+a:after {
    content: 'ABOUT'
}

#nav_bar nav a:first-child+a+a:after {
    content: 'QUIZ'
}

#nav_bar nav a:first-child+a+a+a:after {
    content: 'LESSONS'
}

#nav_bar nav a:first-child+a+a+a+a:after {
    content: 'CERTIFICATE'
}



#nav_bar nav.pl a:first-child:after {
    content: 'START'
}

#nav_bar nav.pl a:first-child+a:after {
    content: 'O MNIE'
}

#nav_bar nav.pl a:first-child+a+a:after {
    content: 'SKILSY'
}

#nav_bar nav.pl a:first-child+a+a+a:after {
    content: 'PORTFOLIO'
}

#nav_bar nav.pl a:first-child+a+a+a+a:after {
    content: 'KONTAKT'
}

#nav_bar nav a:hover:after {
    opacity: 1
}

#nav_bar ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0
}

#nav_bar ul li a {
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: #4d4d4e
}

#nav_bar ul li a:hover {
    color: #007ce9;
}

.tags {
    color: #007ce9;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 80px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive
}

.top-tags {
    bottom: auto;
    top: 0
}

#cboxClose {
    display: none
}
:root{
    /* --main-color: #007bff; */
    /* --second-color:#fff; */
    --main-color: #007ce9;
    --gradinant-color: linear-gradient(to right,rgb(32, 83, 192),rgb(255, 0, 255));
    --second-color:rgb(44, 43, 43);
    --back-color:rgb(12, 12, 12);
    --line-colr:rgb(56, 54, 54);
    --white-color:#fff;

}
::selection{
    color: var(--second-color);
    background: var(--main-color);
}

.ch1,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ch1 button{
    font-size: 25px;
    font-weight: 500;
    color:var(--main-color);
    padding: 15px 65px;
    outline: none;
    border: none;
    border-radius: 5px;
    background:var(--second-color);
    cursor: pointer;
}
.ch1 a{
    color: #007ce9;
    text-decoration: none;
}

.ch2,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ch2 button{
    font-size: 25px;
    font-weight: 500;
    color:var(--main-color);
    padding: 15px 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background:var(--second-color);
    cursor: pointer;
}
.ch2 a{
    color: #007ce9;
    text-decoration: none;
}
.ch3,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ch3 button{
    font-size: 25px;
    font-weight: 500;
    color:var(--main-color);
    padding: 15px 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background:var(--second-color);
    cursor: pointer;
}
.ch3 a{
    color: #007ce9;
    text-decoration: none;
}
.ch4,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ch4 button{
    font-size: 25px;
    font-weight: 500;
    color:var(--main-color);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background:var(--second-color);
    cursor: pointer;
}
.ch4 a{
    color: #007ce9;
    text-decoration: none;
}

.ch5,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ch5 button{
    font-size: 25px;
    font-weight: 500;
    color:var(--main-color);
    padding: 15px 52px;
    outline: none;
    border: none;
    border-radius: 5px;
    background:var(--second-color);
    cursor: pointer;
}
.ch5 a{
    color: #007ce9;
    text-decoration: none;
}